<html>
    <head>
	<title>Анкета</title>
	</head>
    <body>
		<h1>Эксперимент по заканчиванию предложений</h1>
		<p>Исследование проводится с целью создать русскоязычную нормативную базу заканчивания
предложений. В дальнейшем эта база будет использоваться в клинических и исследовательских
целях для тестирования пациентов с афазией (нарушениями речи после поражения головного мозга)
и иными речевыми нарушениями.</p>
		<p>Ваша задача - читать и заканчивать предложения подходящим словом. Некоторые предложения можно закончить только одним способом, а некоторые - несколькими. Если предложение можно закончить несколькими способами, впишите первое пришедшее вам в голову, подходящее по смыслу слово</p>
		<p>Автор оригинального эксперимента на русском языке: Светлана Малютина</p>

		
<form action="/json" method="GET"  target="_blank">
    <table border="0">
		<tr>    
			<td>Все гости дружно уселись за</td>
			<td><input type="text" name="1"></td>
		</tr>
		<tr>    
			<td>Бабушка купила таблетки от головной боли в</td>
			<td><input type="text" name="2"></td>
		</tr>
		<tr>    
			<td>На экзамене студент допустил досадную</td>
			<td><input type="text" name="3"></td>
		</tr>
		<tr>    
			<td>Летом мальчик катался на двухколёсном</td>
			<td><input type="text" name="4"></td>
		</tr>
		<tr>    
			<td>Отправитель наклеил на письмо</td>
			<td><input type="text" name="5"></td>
		</tr>
		<tr>    
			<td>Кошки превосходно видят в</td>
			<td><input type="text" name="6"></td>
		</tr>
		<tr>    
			<td>Выпускница надела босоножки на высоких</td>
			<td><input type="text" name="7"></td>
		</tr>
		<tr>    
			<td>Именинник налил в стакан апельсиновый</td>
			<td><input type="text" name="8"></td>
		</tr>
		<tr>    
			<td>Художник точил цветной</td>
			<td><input type="text" name="9"></td>
		</tr>
		<tr>    
			<td>Певица высушила волосы с помощью</td>
			<td><input type="text" name="10"></td>
		</tr>
		<tr>    
			<td></td>
			<td><input type="text" name="11"></td>
		</tr>
		<tr>    
			<td></td>
			<td><input type="text" name="12"></td>
		</tr>
		<tr>    
			<td></td>
			<td><input type="text" name="13"></td>
		</tr>
		<tr>    
			<td></td>
			<td><input type="text" name="14"></td>
		</tr><tr>    
			<td></td>
			<td><input type="text" name="15"></td>
		</tr>
		<tr>    
			<td></td>
			<td><input type="text" name="16"></td>
		</tr>
		<tr>    
			<td></td>
			<td><input type="text" name="17"></td>
		</tr>
		<tr>    
			<td></td>
			<td><input type="text" name="18"></td>
		</tr>
		<tr>    
			<td></td>
			<td><input type="text" name="19"></td>
		</tr><tr>    
			<td></td>
			<td><input type="text" name="20"></td>
		</tr>
		<tr>    
			<td></td>
			<td><input type="text" name="21"></td>
		</tr><tr>    
			<td></td>
			<td><input type="text" name="22"></td>
		</tr><tr>    
			<td></td>
			<td><input type="text" name="23"></td>
		</tr><tr>    
			<td></td>
			<td><input type="text" name="24"></td>
		</tr><tr>    
			<td></td>
			<td><input type="text" name="25"></td>
		</tr><tr>    
			<td></td>
			<td><input type="text" name="26"></td>
		</tr><tr>    
			<td></td>
			<td><input type="text" name="27"></td>
		</tr><tr>    
			<td></td>
			<td><input type="text" name="28"></td>
		</tr><tr>    
			<td></td>
			<td><input type="text" name="29"></td>
		</tr><tr>    
			<td></td>
			<td><input type="text" name="30"></td>
		</tr>
	</table>
  <input type="submit" value="Submit">	
</form>		
		
		
    </body>
</html>


