<html>
    <head>
	<title>Результаты эксперимента</title>
	</head>
    <body>
		<h1>Результаты эксперимента</h1>
		<p>Цель эксперимента - создать базу данных предложений, в которой для каждого предложения будет содержаться информация о соотношении возможных (по данным нормы) номинаций, а также о предсказуемости окончания предложений (чем больше вариативность в номинациях, тем меньше предсказуемость).</p>
		<p>Ниже для каждого стимула отображается процентное соотношение номинаций и значение предсказуемости, рассчитанное по имеющимся на момент открытия страницы данным</p>
		{% for sent,params in final_output.items() %}
        <h2>{{sent}}</h2>
		<p>Процентное соотношение номинаций:</p>			
			{% for nom, percent in params[0].items() %}
			{{nom}} : {{percent}} <br/>
			{% endfor %}
			<p>Предсказуемость предложения: {{params[1]}}</p>
			
        {% endfor %}
		<h2>
    </body>
</html>